@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..600&display=swap");

body,
html {
  height: 100%;
  background-color: #fafafa;
}
body {
  max-width: 576px;
  height: 100dvh;
}

.container-atas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.login-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  background-color: #009a84;
  color: white;
}
