/* Gaya CSS dari main.css */

/* Placeholder teks */
body {
  background-color: #fafafa;
  max-width: 576px;
}
.form-control::placeholder {
  opacity: 0.5;
}

/* Margin atas untuk container */
.container-atas {
  margin-top: 88.8px;
}

/* Margin atas untuk form login */
.form-login {
  margin-top: 48.38px;
}

/* Warna teks untuk tautan hijau */
.green-text {
  color: #00a991;
  text-decoration: none;
}

/* Gaya tombol masuk */
.login-button {
  background-color: #009a84;
  color: white;
}

/* Gaya tambahan untuk judul dan teks */
.title-login h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.title-login p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn {
  margin-bottom: 39px;
}
